th{
    background-color: rgb(255, 255, 255);
    text-align: center;
    height:7px;
}
td{
   
    text-align: center;
    background-color: rgb(243, 237, 237);
    justify-content: center;
    height:7px;
}

